<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charger un fichier</title>
</head>
<body>
    <h1>Charger un fichier dans le serveur et le sauvegarder</h1>
    <form action="" method="post" enctype="multipart/form-data">
        <input type="file" name="fichier" value="Choisir un Fichier">
        <input type="submit" value="Envoyer">
    </form>
    <button id="shutdown-button">Arrêter le serveur</button>

    <script src="/js/index.js"></script>
</body>
</html>